/* document font */
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* single quotation mark character style font(") */
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,700&display=swap");
/* font-family: 'Montagu Slab', serif; */

/* joy of painting cursive font */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
/* font-family: 'Dancing Script', cursive; */

@layer reset, base, layout, components, utilities, general;

@layer reset {
  :root {
    --max-width: 1200px;

    --scroll-padding-block-start: 4.5rem;
    --ff-sans: "Manrope", sans-serif;
    --ff-serif: "Libre Bodoni", serif;
    --ff-cursive: "Dancing Script", cursive;
    --ff-quote: "Montagu Slab", serif;

    --neutral-100: hsl(0, 0%, 95%);
    --neutral-900: hsl(0, 0%, 0%);

    --text-neutral-100: var(--neutral-100);
    --text-neutral-900: var(--neutral-900);

    --xs: 0.5rem;
    --sm: 0.75rem;
    --base: 1rem;
    --lg: 1.25rem;
    --xl: 1.5rem;
    --xl2: 2rem;
    --xl4: 2.5rem;
    --xl9: clamp(4rem, 15vw, 12rem);

    --text-xs: var(--xs);
    --text-sm: var(--sm);
    --text-base: var(--base);
    --text-lg: var(--lg);
    --text-xl: var(--xl);
    --text-2xl: var(--xl2);
    --text-4xl: var(--xl4);
    --text-9xl: var(--xl9);

    --font-thin: 200;
    --font-regular: 400;
    --font-semibold: 500;
    --font-bold: 600;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  ul {
    list-style-type: none;
  }
}

@layer base {
  html {
    color-scheme: dark;

    scroll-behavior: smooth;
    scroll-padding-block-start: var(--scroll-padding-block-start);
  }

  body {
    font-family: var(--ff-sans);
    color: var(--text-neutral-100);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--ff-serif);
  }

  figure {
    text-align: center;
  }
}

@layer layout {
  body {
    isolation: isolate;
  }

  main {
    & section {
      padding-block: 2em;
    }
  }

  header,
  nav,
  ul {
    padding-block: 0.5em;

    background-color: hsl(0, 0%, 0%, 0.6);
  }

  header {
    position: sticky;
    top: 0;

    z-index: 100;

    & ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 2em;

      padding-inline: 0.5em;
    }
  }

  #hero {
    display: grid;
    place-items: center;

    height: calc(100vh - 70px);
    min-height: 500px;

    & h1 {
      margin-block-end: 0.2em;
    }

    & blockquote {
      max-width: 25ch;
      margin-inline: auto;
      margin-block-end: 1em;
    }
  }

  #about {
    container-type: inline-size;

    & .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
        "figure"
        "paragraph"
        "h2"
        "anchor";
      justify-items: center;
      gap: 2em;

      & figure {
        grid-area: figure;
      }

      & p {
        grid-area: paragraph;
      }

      & h2 {
        grid-area: h2;
      }

      & a {
        grid-area: anchor;
      }
    }
    @container (width > 768px) {
      & .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
          "figure paragraph"
          "figure h2"
          "figure anchor";

        & p {
          align-self: end;
        }

        & h2 {
          align-self: center;
        }

        & a {
          align-self: start;
        }
      }
    }

    & figure {
      max-width: 500px;
    }

    & p {
      text-indent: 3ch;
    }
  }

  #artworks {
    & h2 {
      margin-block-end: 0.5em;
    }

    & .carousel {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max(200px, 30%);
      gap: 1em;

      width: 100%;

      overflow-x: scroll;
      overscroll-behavior-inline: contain;
      scroll-snap-type: inline proximity;
      scrollbar-gutter: stable;

      & figure {
        max-width: 330px;

        scroll-snap-align: start;

        & img {
          aspect-ratio: 1 / 0.75;
          object-fit: cover;
        }
      }
    }
  }

  #story {
    --margin-auto-size: calc(12vw - 1.2rem);
    --inline-position-offset: 40cqi;
    container-type: inline-size;

    & .wrapper * + * {
      margin-block-start: 1em;
    }
    & article {
      position: relative;

      max-width: 500px;

      isolation: isolate;

      & img {
        position: absolute;
        inset-block: 0;

        width: 100%;
        max-width: 270px;
        margin-block: auto;
        object-fit: contain;

        z-index: -1;
      }
    }
    @container (width > 640px) {
      & article {
        margin-inline-end: var(--margin-auto-size);
        margin-inline-start: auto;
      }

      & article:nth-of-type(odd) {
        text-align: right;
        margin-inline-end: auto;
        margin-inline-start: var(--margin-auto-size);
      }
    }
    & article:nth-child(odd):has(img) img {
      right: var(--inline-position-offset);
    }
    & article:nth-child(even):has(img) img {
      left: var(--inline-position-offset);
    }
  }
}

@layer components {
  .button {
    border: 1px solid VAR(--text-neutral-100);
    padding: var(--xs) var(--sm);
    text-decoration: none;
    color: var(--text-neutral-100);
    background-color: transparent;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

@layer utilities {
  .font-cursive {
    font-family: var(--ff-cursive);
  }
  .font-sans {
    font-family: var(--ff-sans);
  }
  .font-serif {
    font-family: var(--ff-serif);
  }

  .text-xs {
    font-size: var(--text-xs);
  }
  .text-sm {
    font-size: var(--text-sm);
  }
  .text-base {
    font-size: var(--text-base);
  }
  .text-lg {
    font-size: var(--text-lg);
  }
  .text-xl {
    font-size: var(--text-xl);
  }
  .text-2xl {
    font-size: var(--text-2xl);
  }
  .text-4xl {
    font-size: var(--text-4xl);
  }
  .text-9xl {
    font-size: var(--text-9xl);
  }

  .italic {
    font-style: italic;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .text-center {
    text-align: center;
  }

  .wrapper {
    --inline-padding: 2rem;

    width: calc(100% - (var(--inline-padding) * 2));
    max-width: var(--max-width);
    margin-inline: auto;
  }
}

@layer general {
  @keyframes fadeIn {
    from {
      z-index: -1;
      opacity: 0;
    }
    to {
      z-index: 50;
      opacity: 1;
    }
  }

  @keyframes wiggle {
    0% {
      scale: 1;
    }
    40% {
      scale: 2;
      rotate: 5deg;
    }
    50% {
      scale: 2;
      rotate: -5deg;
    }
    60% {
      scale: 2;
      rotate: 5deg;
    }
    70% {
      scale: 2;
      rotate: -5deg;
    }
    80% {
      scale: 2;
      rotate: 5deg;
    }
    90% {
      scale: 2;
      rotate: -5deg;
    }
    100% {
      scale: 2;
      rotate: 5deg;
    }
  }

  body {
    background-image: url("./assets/images/black-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: hsl(0, 0%, 0%, 0.5);
    background-blend-mode: overlay;

    & header {
      & a {
        color: var(--text-neutral-100);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & main {
      & section {
        & h2 {
          font-size: clamp(var(--text-xl), 10vw, var(--text-4xl));
        }
      }
    }

    & footer {
      padding-block: 2em;

      background-color: var(--neutral-900);
    }

    & aside {
      position: fixed;
      bottom: 0;
      right: 0;

      padding: 1vw;

      animation: 3s ease-in-out 4s 1 normal both fadeIn;

      & #bob-survey {
        --image-width: 110px;
        --speech-bubble-y-offset: 1.5em;
        --speech-bubble-color: hsl(0, 0%, 18%, 0.95);
        --speech-bubble-border-size: 4px;
        --speech-bubble-border-radius: 8px;

        position: relative;

        width: max-content;

        filter: drop-shadow(0px 0px 4px hsl(0, 0%, 10%, 0.75));

        isolation: isolate;

        & #popup-form-toggle {
          display: none;
        }
        & > label {
          cursor: pointer;
        }
        & img {
          max-width: var(--image-width);
          aspect-ratio: 1 / 1;
          object-fit: contain;

          &:hover {
            filter: drop-shadow(0px 0px 2px white);
          }
        }

        & .speech-bubble {
          --scroll-radius: var(--speech-bubble-border-radius);

          position: absolute;
          bottom: calc(100% + var(--speech-bubble-y-offset));
          right: calc(var(--image-width) - (var(--image-width) * 0.75));

          width: max-content;
          max-width: 75vw;
          max-height: calc(80vh - var(--image-width));

          padding: 1em 1.5em;
          border: var(--speech-bubble-border-size) solid
            var(--speech-bubble-color);
          border-radius: var(--speech-bubble-border-radius);

          overflow-y: auto;
          overscroll-behavior-block: contain;

          background-color: var(--speech-bubble-color);

          & .wiggler {
            display: inline-block;
            margin-inline-start: 0.5ch;
            animation: 1s ease-in-out 8s infinite alternate both wiggle;
          }

          & form {
            display: none;
            gap: 0.25em;

            width: 100%;

            & label {
              font-weight: var(--font-semibold);
            }

            & :where(input, select) {
              display: block;
              width: 0;
              min-width: 100%;

              padding: 0.5em 1em;
            }

            & button {
              display: block;
              margin-block: 1em;
            }
          }

          &::-webkit-scrollbar {
            inline-size: 0.5em;
          }
          &::-webkit-scrollbar-track {
            background: hsl(0, 0%, 100%, 0.2);
            margin-inline: 25vw;
            border-radius: var(--scroll-radius);
          }
          &::-webkit-scrollbar-thumb {
            background: hsl(0, 0%, 100%, 0.5);
            border-radius: var(--scroll-radius);
          }
          &::-webkit-scrollbar-thumb:hover {
            background: hsl(0, 0%, 100%, 0.8);
          }
        }
        & .speech-tail {
          --tail-width: 15px;

          display: block;
          position: absolute;
          bottom: calc(
            100% + var(--speech-bubble-y-offset) - var(--tail-width) + 1px
          );
          right: calc(
            var(--image-width) - (var(--image-width) * 0.75) +
              (var(--tail-width) * 1.5)
          );

          width: var(--tail-width);
          aspect-ratio: 1 / 1;
          clip-path: polygon(50% 100%, 0 0, 100% 0);

          background-color: var(--speech-bubble-color);
        }
      }
      & #bob-survey:has(#popup-form-toggle:checked) .speech-bubble {
        width: 400px;

        & form {
          display: grid;
        }
        & > p {
          display: none;
        }
      }
    }
  }

  #hero {
    position: relative;

    isolation: isolate;

    & blockquote {
      position: relative;

      isolation: isolate;
    }
    & blockquote::before {
      content: '"';
      position: absolute;
      top: -100px;
      left: -3%;

      scale: -1.25;

      font-family: var(--ff-quote);
      font-size: 8rem;

      opacity: 0.1;

      z-index: -1;
    }

    & figcaption {
      font-weight: var(--font-thin);
    }
  }
  #hero::before {
    content: "";
    position: absolute;
    inset: 1rem;

    max-width: var(--max-width);
    margin-inline: auto;

    background-image: url("./assets/images/paintingRoss.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 0%, 0%, 0.8);
    background-blend-mode: overlay;

    z-index: -1;
  }

  #about {
    & figcaption {
      opacity: 0.75;
    }

    & h2 {
      font-size: 2.75rem;
      text-align: center;

      & :where(.the, .joy-of-painting) {
        display: inline-block;
        rotate: -5deg;
        font-weight: var(--font-regular);
      }
      & .the {
        font-size: 1.5rem;
        translate: 0px -1ch;
      }
      & .with-bob-ross {
        display: block;
      }
    }
  }

  #artworks {
    & .carousel {
      --scroll-radius: 100vw;

      padding-block: 3em;
      padding-inline: 2em;

      isolation: isolate;

      & figure {
        --border-size: 1em;

        color: var(--text-neutral-900);
        background-color: var(--neutral-100);
        border: var(--border-size) solid var(--neutral-100);
        box-shadow: 2px 2px 4px hsl(0, 0%, 0%, 0.5);

        rotate: -5deg;
        scale: 1;
        filter: brightness(0.9);
        transition: all 500ms ease-in-out;

        & figcaption {
          padding-block-start: var(--border-size);

          & h3 {
            font-family: var(--ff-sans);
            font-weight: var(--font-semibold);
            font-size: var(--text-base);
          }

          & p {
            font-size: var(--text-sm);
          }
        }

        &:hover {
          scale: 1.05;
          rotate: 0deg;
          filter: brightness(1);

          z-index: 50;
        }
      }

      &::-webkit-scrollbar {
        block-size: 0.75em;
      }
      &::-webkit-scrollbar-track {
        background: hsl(0, 0%, 100%, 0.2);
        margin-inline: 25vw;
        border-radius: var(--scroll-radius);
      }
      &::-webkit-scrollbar-thumb {
        background: hsl(0, 0%, 100%, 0.5);
        border-radius: var(--scroll-radius);
      }
      &::-webkit-scrollbar-thumb:hover {
        background: hsl(0, 0%, 100%, 0.8);
      }
    }
  }

  #story {
    & article {
      &:nth-of-type(2) img {
        rotate: -2deg;
      }
      &:nth-of-type(3) img {
        rotate: 5deg;
      }
      &:nth-of-type(4) img {
        rotate: -8deg;
      }

      & img {
        opacity: 0.7;

        &:not(.no-frame) {
          background-color: var(--neutral-100);
          border: 0.75em solid var(--neutral-100);
        }
      }
      @container (width < 1300px) {
        & img {
          opacity: 0.25;
        }
      }

      & h3 {
        margin-block-start: 2em;

        font-size: clamp(var(--text-lg), 10vw, var(--text-2xl));
      }
    }
  }
}
